{% load i18n %}
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<div style="{{ site.email_styling }}">
{% blocktrans with date|date:"j F Y" as date and time|time:"H:i" as time %}
<p>Dear {{ invite_name }},</p>

<p>You are invited by {{ name }} for a conference call, with subject: {{ subject }}.
This conference call will take place on {{ date }} at {{ time }} CET.</p>

<p>To participate in the conference call from The Netherlands, please call
{{ phone_number }} (€ 0,15 per minute), follow the instructions and use access
code {{ pin_code }} to access your conference call.</p>

<p>For use from abroad, please look at: <a href="http://{{ site_domain }}/en/international-access-numbers/">international access numbers</a>.</p>

<p>
<a href="http://{{ site_domain }}{{ accept_url }}">To accept click here.</a><br/>
<a href="http://{{ site_domain }}{{ reject_url }}">To decline click here.</a>
</p>

<p>Kind regards,</p>

<p><a href="http://{{ site_domain }}/en/">www.{{ site_name }}.nl</a></p>
{% endblocktrans %}
<img src="cid:logo"/>
</div>
</body>
</html>
