{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Login' %}</h1>
<form method='post' action='.'>
    <input type="hidden" name="next" value="{{ next }}" />
    {% if form.non_field_errors %}
        <p>{% for error in form.non_field_errors %}{{ error }}{% endfor %}</p>
    {% endif %}
    <table>
        <tr>
            <th><label for='id_username' class='required'>{% trans 'E-mail address' %}</label></th><td>{{ form.username }}</td>
        </tr>
        <tr>
            <th><label for='id_password' class='required'>{% trans 'Password' %}</label></th><td>{{ form.password }}</td>
        </tr>
        <tr>
            <td></td><td><input type='submit' value='Login'/></td>
        </tr>
    </table>

</form>
<p>
{% trans "Forgotten your password?" %} <a href="{% url auth_password_reset %}">{% trans 'Click here to reset your password.' %}</a>
</p>
{% endblock %}
