{% extends 'base.html' %}
{% load i18n cms_tags %}

{% block content %}
    <div><a href='{% url invite %}'>{% trans 'Back to invites' %}</a></div>
    <h1>{% trans 'Group overview' %}</h1>
    {% for group in groups %}
        {% if forloop.first %}
        <table class='overview'>
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Members count' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% endif %}
                <tr>
                    <td>{{ group }}</td>
                    <td>{{ group.members.all|length }}</td>
                    <td>
                        <a href='{% url group_edit group.id %}'>{% trans 'Edit' %}</a> | <a href='{% url group_add_member group.id %}'>{% trans 'Add member' %}</a> | <a href='{% url group_delete group.id %}'>{% trans 'Delete' %}</a>
                    </td>
                </tr>
        {% if forloop.last %}
            </tbody>
        </table>
        <p>
            <a href='{% url group_add %}'>{% trans 'Add new group' %}</a>.
        </p>
        {% endif %}
    {% empty %}
        <p>{% trans "You don't have any groups yet" %}. <a href='{% url group_add %}'>{% trans 'Add new group' %}</a>.</p>
    {% endfor %}
{% endblock %}
