{% extends 'base.html' %}
{% load i18n cms_tags %}

{% block content %}
    <div><a href='{% url invite %}'>{% trans 'Back to invites' %}</a></div>
    <h1>{% trans 'Member overview' %}</h1>
    {% for member in members %}
        {% if forloop.first %}
            <table class='overview'>
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'Phone number' %}</th>
                        <th>{% trans 'Groups' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
        {% endif %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.email_address }}</td>
                        <td>{{ member.phone_number }}</td>
                        <td>{% for group in member.group.all %}<a href='{% url group_edit group.id %}'>{{ group }}</a>{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}</td>
                        <td><a href='{% url member_edit member.id %}'>{% trans 'Edit' %}</a> | <a href='{% url member_delete member.id %}'>{% trans 'Delete' %}</a></td>
                    </tr>
        {% if forloop.last %}
                </tbody>
            </table>
            <p>
                <a href='{% url member_add %}'>{% trans 'Add new member here' %}</a>.
            </p>
        {% endif %}
    {% empty %}
        <p>
            {% blocktrans %}You don't have any members yet.{% endblocktrans %} <a href='{% url member_add %}'>{% trans 'Add new member' %}</a>.
        </p>
    {% endfor %}
{% endblock%}
