{% extends 'default.html' %}
{% load i18n cms_tags menu_tags %}

{% block content %}
{% if user.is_authenticated %}
    <div class='sub-menu'>
        {% show_sub_menu %}
    </div>
{% endif %}
<div class='invite-text-block'>
    {{ block.super }}
</div>
<div class='invite-form'>
    <form action='' method='POST'>
        {% if form.errors %}
            <p>{% blocktrans %}An error has occured, see details below.{% endblocktrans %}</p>
        {% endif %}
        <table class='general-info'>
            {% for name, fields in form.fieldsets %}
                {% for field in fields %}
                    {% ifnotequal field.name 'group_text' %}
                        {% ifnotequal field.name 'captcha' %}
                            <tr>
                                <th>{{ field.label_tag }}</th>
                                {% if field.errors %}
                                    <td width='270'>{{ field }}{% if field.field.required %} * {% endif %}</td>
                                    <td>{% for error in field.errors %}<span class="error">{{ error }}</span>{% if not forloop.last%}<br/>{% endif %}{% endfor %}<br /><span class="help_text">{{ field.help_text }}</span></td>
                                {% else %}
                                    <td width='270'>
                                        {{ field }}{% if field.field.required %} * {% endif %}{% ifequal field.name 'group' %} {% trans 'or' %} {{ form.group_text }}{% endifequal %}
                                    </td>
                                    <td><span class="help_text">{{ field.help_text }}</span></td>
                                {% endif %}
                            </tr>
                        {% endifnotequal %}
                    {% endifnotequal %}
                {% endfor %}
            {% endfor %}
        </table>
        <div style='display: none;'>
            {{ form.media }}
        </div>
        {% for form in formset.forms %}
            {% if forloop.first %}
            <table class='invite-members'>
                <thead>
                    <tr>
                        <td colspan=3>{% for error in formset.non_form_errors %}{{ error }}{% if not forloop.last %}<br/>{% endif %}{% endfor %}</td>
                    </tr>
                    <tr style='display: none;'>
                        <td colspan=3>{{ formset.management_form }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan=2>
                            {% trans 'Invite by e-mail address and/or mobile number' %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'E-mail address' %}</th>
                        <th>{% trans 'Mobile phone number' %}</th>
                    </tr>
                </thead>
                <tbody>
            {% endif %}
            {% for name, fields in form.fieldsets %}
                {% if form.non_field_errors %}
                    <tr>
                        <td></td>
                        <td colspan=2>{% for error in form.non_field_errors%}<span class="error">{{ error }}</span>{% if not forloop.last %}<br/>{% endif %}{% endfor %}</td>
                    </tr>
                {% endif %}
                {% if not form.non_field_errors and form.errors %}
                    <tr>
                    {% for field in fields %}
                        <td>
                            {% if field.errors %}{% for error in field.errors %}<span class="error">{{ error }}</span>{% if not forloop.last %}<br/>{% endif %}{% endfor %}{% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endif %}
                <tr>
                {% for field in fields %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        <td>{{ field }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            {% if forloop.last %}
                </tbody>
            </table>
            {% endif %}
        {% endfor %}
        <table class='submit'>
            <tr>
                <td width="290">{{ form.captcha }}</td>
                {% if form.captcha.errors %}
                <td>
                {% for error in form.captcha.errors %}<span class="error">{{ error }}</span>{% endfor %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <td colspan=3><input type='submit' value="{% trans 'Send invitation' %}"/></td>
            </tr>
        </table>
    </form>
    <p>
        * {% trans 'This field is required.' %}
    </p>
</div>
{% endblock %}
